                   @* Define MovieFormView is a Model *@

                   @*Now we make same steps which we made in the index.cdjtml*@

@model MovieFormViewModel

@{
    ViewData["Title"]= "Movie form";
}

<h1>Create Movies</h1>

<br />    @*to add new line*@

<section class="row">          @* this tag dividing row into 12 part*@

    <div class="col-md-4">     @* this tag appear area of row which contai 4 column only 3 column*@

        <form method="post" asp-action="Create">     @*Creat:is the name of view *@

              @*taking classes from bootstrap to creat the view of model*@

            <div class="form-group">

                <lable class="text-muted" asp-for="Name">Title</lable> <br/> @*Name is column in DB*@
                <input type="text" class="form-control" asp-for="Name" maxlength="250" />
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>

                           @* Create drob down list to store all genres*@

            <div class="form-group">

                <lable class="text-muted" asp-for="GenreId">Genres</lable>  <br />

                @*define posation of data , and data display to user*@
                @*Id , Name attribute which defined in class Genre*@

                <select class="form-control" asp-for="GenreId"
                        asp-items="@(new SelectList(Model.Genres , "Id", "Name"))"> 
                    <option></option>  @* used to make list empty for frist time*@

                </select>

                <span asp-validation-for="GenreId" class="text-danger"></span>

            </div>

        </form>

    </div> 

</section>
