@*Since the  model is a collection of views [List of movies] *@

@using System.Collections

                         @*Define list of movie using IEnumerable or List*@

@model IEnumerable<Movie>

                         @*to set title of movies page*@
@{
    ViewData["Title"] = "Movies";
}
                         @*Using h tag to write Head of page*@
<h3>
                         @*now we add icon from bootstrap behind Movies*@

    <i class="bi bi-film"></i>  
    Movies

</h3>

                         @*creat button to open page allow to add movie*@
                         @*btn btn=primary is bootstrap class*@
                         @*asp-action : is the page will open when press on button *@

<a  class="btn btn-primary" asp-action="Create"> 
    <i class="bi bi-file-earmark-plus-fill"></i>  
    Add Movies
</a>

                         @*add area which the movies will apper in it*@
                         @*using div tag to make content away from button*@

<div class="mt-lg-4">

                         @*cheeck if no movies in DB using c# code*@                  

    @if ((!Model.Any())) @* Any :- returne bool, if no movies print alert massage*@
    {
       <div class="alert alert-danger" role="alert"> @*Taking style of Alert from Bootstrap*@

            <i class="bi bi-info-square-fill"></i>
            No Movies Found

       </div>

    }
    else
    {
        <ul>
            @foreach(var movie in Model)
            {
                            
             <li>
                    @movie.Name  @*.Name is column in table movie in Db*@
             </li>}
           
        </ul>
    }

</div>
